extends panel_layout
  
block panel  
block content
  h1= title
  .messages
  if messages 
    each message in messages 
      .message 
        h2= message.title 
        p= currentUser.is_member ? message.timestamp : '---'
        p= message.text 
        p By @#{currentUser.is_member ? message.user.username : '---'}
        if currentUser.is_admin 
        form(action=`/message/delete/${message._id}`, method="post") 
          button.subtle-button(type="submit") Delete
  form(action="", method="post")
    fieldset 
      label(for="title") Title
      input#title(type="text", name="title" autocomplete="off")
      label(for="text") Message
      input#text(type="text", name="text" autocomplete="off")
    button(type="submit") Post
  if errors
    ul
      for error in errors
        li!= error.msg

