extends minimalist_layout 

block content 
  h1= title
  p @#{user.username}
  p= user.full_name
  p= user.is_member ? 'Member' : 'Visitor'
  if currentUser && !currentUser.is_member && currentUser.username === user.username
    a(href=`/become-member/${currentUser._id}`) Become Member